<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>{{ xmlEscape .PackageName }}</id>
    <version>{{ xmlEscape .Version }}</version>
    <title>{{ xmlEscape .Title }}</title>
    <authors>{{ xmlEscape .Authors }}</authors>
    <projectUrl>{{ xmlEscape (printf "https://github.com/%s" .Repository) }}</projectUrl>
    <licenseUrl>{{ xmlEscape (printf "https://github.com/%s/blob/main/LICENSE" .Repository) }}</licenseUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <description>{{ xmlEscape .Description }}</description>
    <tags>{{ xmlEscape .Tags }}</tags>
    <releaseNotes>{{ xmlEscape (printf "https://github.com/%s/releases/tag/v%s" .Repository .Version) }}</releaseNotes>
  </metadata>
  <files>
    <file src="tools\**" target="tools" />
  </files>
</package>
