# typed: false
# frozen_string_literal: true

class {{.FormulaClass}} < Formula
  desc {{ rubyQuote .Description }}
  homepage {{ rubyQuote (printf "https://github.com/%s" .Repository) }}
  version {{ rubyQuote .Version }}
  license {{ rubyQuote .License }}

  on_macos do
    if Hardware::CPU.arm?
      url {{ rubyQuote (printf "https://github.com/%s/releases/download/v%s/%s" .Repository .Version .Checksums.DarwinArm64File) }}
      sha256 {{ rubyQuote .Checksums.DarwinArm64 }}
    else
      url {{ rubyQuote (printf "https://github.com/%s/releases/download/v%s/%s" .Repository .Version .Checksums.DarwinAmd64File) }}
      sha256 {{ rubyQuote .Checksums.DarwinAmd64 }}
    end
  end

  on_linux do
    if Hardware::CPU.arm?
      url {{ rubyQuote (printf "https://github.com/%s/releases/download/v%s/%s" .Repository .Version .Checksums.LinuxArm64File) }}
      sha256 {{ rubyQuote .Checksums.LinuxArm64 }}
    else
      url {{ rubyQuote (printf "https://github.com/%s/releases/download/v%s/%s" .Repository .Version .Checksums.LinuxAmd64File) }}
      sha256 {{ rubyQuote .Checksums.LinuxAmd64 }}
    end
  end

  def install
    bin.install {{ rubyQuote .BinaryName }}
  end

  test do
    system "#{bin}/" + {{ rubyQuote .BinaryName }}, "--version"
  end
end
