{
    "version": "{{.Version}}",
    "description": "{{.Description}}",
    "homepage": "https://github.com/{{.Repository}}",
    "license": "{{.License}}",
    "architecture": {
        "64bit": {
            "url": "https://github.com/{{.Repository}}/releases/download/v{{.Version}}/{{.Checksums.WindowsAmd64File}}",
            "hash": "{{.Checksums.WindowsAmd64}}"
        },
        "arm64": {
            "url": "https://github.com/{{.Repository}}/releases/download/v{{.Version}}/{{.Checksums.WindowsArm64File}}",
            "hash": "{{.Checksums.WindowsArm64}}"
        }
    },
    "bin": "{{.BinaryName}}.exe",
    "checkver": {
        "github": "https://github.com/{{.Repository}}"
    },
    "autoupdate": {
        "architecture": {
            "64bit": {
                "url": "https://github.com/{{.Repository}}/releases/download/v$version/{{.Checksums.WindowsAmd64File}}"
            },
            "arm64": {
                "url": "https://github.com/{{.Repository}}/releases/download/v$version/{{.Checksums.WindowsArm64File}}"
            }
        }
    }
}
