{
    "version": {{ jsonString .Version }},
    "description": {{ jsonString .Description }},
    "homepage": {{ jsonString (printf "https://github.com/%s" .Repository) }},
    "license": {{ jsonString .License }},
    "architecture": {
        "64bit": {
            "url": {{ jsonString (printf "https://github.com/%s/releases/download/v%s/%s" .Repository .Version .Checksums.WindowsAmd64File) }},
            "hash": {{ jsonString .Checksums.WindowsAmd64 }}
        },
        "arm64": {
            "url": {{ jsonString (printf "https://github.com/%s/releases/download/v%s/%s" .Repository .Version .Checksums.WindowsArm64File) }},
            "hash": {{ jsonString .Checksums.WindowsArm64 }}
        }
    },
    "bin": {{ jsonString (printf "%s.exe" .BinaryName) }},
    "checkver": {
        "github": {{ jsonString (printf "https://github.com/%s" .Repository) }}
    },
    "autoupdate": {
        "architecture": {
            "64bit": {
                "url": {{ jsonString (printf "https://github.com/%s/releases/download/v$version/%s" .Repository .Checksums.WindowsAmd64File) }}
            },
            "arm64": {
                "url": {{ jsonString (printf "https://github.com/%s/releases/download/v$version/%s" .Repository .Checksums.WindowsArm64File) }}
            }
        }
    }
}
