{
  "name": {{ jsonString .Package }},
  "version": {{ jsonString .Version }},
  "description": {{ jsonString .Description }},
  "license": {{ jsonString .License }},
  "repository": {
    "type": "git",
    "url": {{ jsonString (printf "https://github.com/%s.git" .Repository) }}
  },
  "homepage": {{ jsonString (printf "https://github.com/%s" .Repository) }},
  "bugs": {
    "url": {{ jsonString (printf "https://github.com/%s/issues" .Repository) }}
  },
  "bin": {
    {{ jsonString .BinaryName }}: {{ jsonString "./bin/run.js" }}
  },
  "scripts": {
    "postinstall": {{ jsonString "node ./install.js" }}
  },
  "files": [
    {{ jsonString "bin/" }},
    {{ jsonString "install.js" }}
  ],
  "engines": {
    "node": {{ jsonString ">=14.0.0" }}
  },
  "keywords": [
    {{ jsonString "cli" }},
    {{ jsonString .ProjectName }}
  ],
  "publishConfig": {
    "access": {{ jsonString .Access }}
  }
}
